{% extends "candidates/base.html" %}{% load bootstrap4 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Suche</title>
</head>
<body>



{% block content %}

  <a href="{% url 'candidates:new_profile' %}"> Add a new Profile</a>
  <a href="{% url 'candidates:edit_profile' %}"> Edit Profile</a>

<ui>

  {% for profile in profiles %}

  <li> {{ profile.user}} </li>

  <form class="form-signin">
    <div class="form-group">
      <p>Name: {{ profile.full_name }}</p>
      <p>Country: {{ profile.country.name }}</p>
      <p>Location: {{ profile.location }}</p>
      {% if profile.resume %}
      <p>
        Resume:
        <a href="{{ profile.resume.url }}">Click to View/Download</a>
      </p>
      {% else %}
      <p>Resume: Not Provided</p>
      {% endif %} {% if request.user == u %}
      <hr class="my-4" />
      <a
        class="btn btn-warning btn-block"
        href="{% url 'edit-profile' %}"
        >Edit Profile</a><br />

      <a class="btn btn-primary btn-block" href="{% url 'saved-jobs' %}"
        >Saved Jobs</a><br />
      <a
        class="btn btn-success btn-block"
        href="{% url 'applied-jobs' %}">Applied Jobs</a>
      {% endif %}
    </div>
  </form>
    {% empty %}
  <li> No profiles habe benn added yet</li>
    {% endfor%}
  </ui>

{% endblock content %}


</body>
</html>


